/* Style the button that is used to open and close the collapsible content */

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.active, .collapsible:hover {
    background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */

.content {
    display: block;
    overflow: hidden;
    /* background-color: #f1f1f1; */
    transition: all 0.2s ease-out;
}

.sub-item {
    position: relative;
    padding: 10px;
    background: #fff;
    border-bottom: solid 0.1px #f1f1f1;
}

.sub-item>h3, .sub-item>span {
    padding: 0px;
    margin: 0px;
}

.sub-item>h3 {
    margin-bottom: 5px;
}

.sub-item>.mota {
    font-size: 15px !important;
}

.selected-item {
    position: absolute;
    right: 5px;
    top: 35px;
    cursor: pointer;
    color: rgb(0, 160, 209);
    font-weight: bold;
}